
<div class="ui raised very padded text container segment">

  <div (click)="showNewTopic()" class="ui button">
    <i class="sticky note outline icon"></i>
    Новая публикация
  </div>

  <div *ngIf="viewnewnopic" class="ui raised segment">
    <h2 class="ui header">Новая публикация</h2>
    <form [formGroup]="myForm"
          (ngSubmit)="onSubmit(myForm.value)"
          class="ui form"
          [class.error]="!myForm.valid && myForm.touched">
      <div class="field" [class.error]="!myForm.get('headerTopic').valid && myForm.get('headerTopic').touched">
        <label for="headerTopic">Заголовок</label>
        <input type="text"
               id="headerTopic"
               placeholder="Заголовок"
               name="заголовок"
               [formControl]="myForm.get('headerTopic')"ngModel>
      </div>
      <div class="field" [class.error]="!myForm.get('context').valid && myForm.get('context').touched">
        <label for="context">Описание</label>
        <input type="text"
               id="context"
               placeholder="Описание"
               name="описание"
               [formControl]="myForm.get('context')" ngModel>
      </div>

      <div class="field" [class.error]="!myForm.get('typecontent').valid && myForm.get('typecontent').touched">
      <div class="ui sub header">Тип контента</div>
      <select name="typecontent" class="ui fluid search dropdown" [formControl]="myForm.get('typecontent')" ngModel>
        <option value=""></option>
        <option value="video">Video from YouTube</option>
        <option value="file">Video from Google Drive</option>
        <option value="image">Image from Google Drive</option>
        <option value="file">File from Google Drive</option>
      </select>
      </div>

      <div class="field" [class.error]="!myForm.get('videoContent').valid && myForm.get('videoContent').touched">
        <label for="videoContent">ID</label>
        <input type="text"
               id="videoContent"
               placeholder="ID фото/видео/файла из Google Drive"
               name="idvideo"
               [formControl]="myForm.get('videoContent')" ngModel>
      </div>

      <div *ngIf="!myForm.valid"
           class="ui error message">Заполните все поля</div>

      <button type="submit" class="ui button">Опубликовать</button>
      <button class="ui right floated button" (click)="closeForm()">
        Закрыть
      </button>
    </form>
  </div>

</div>

<div class="ui raised very padded text container segment">
  <h2 class="ui header">Нейрохірургічні аспекти лікування патології шийного відділу хребта. Борзенков С.І.(youtube)</h2>

  <div class="ui embed">
    <iframe class="videoyoutube"  src="https://www.youtube.com/embed/0lWLvMKCH-k" frameborder="0" allowfullscreen></iframe>
  </div>

  <!--<iframe width="420" height="345" src="https://youtu.be/0lWLvMKCH-k">-->
  <!--</iframe>-->

  <!--<iframe class="videoyoutube"  src="https://www.youtube.com/embed/0lWLvMKCH-k" frameborder="0" allowfullscreen></iframe>-->

  <!--<iframe width="420" height="345" src="www.youtube.com/watch?v=0lWLvMKCH-k">-->
  <!--</iframe>-->
  <!--<iframe class="videoyoutube"  src="https://drive.google.com/file/d/0B0CqXtLdt9icS0VLLXhKZzVwVkk/view?usp=sharing" frameborder="0" allowfullscreen></iframe>-->

  <!--<img src="https://lh4.googleusercontent.com/rnxETHWanxFlgvjE58-aiSaQYBrNbPv5RA8KFI0Zc9Q8ljXN2OhwTnhmsBtom7nNT9RysSPt=w1366-h683" alt="W3Schoolss.com" style="width:128px;height:128px;">-->

</div>

<div class="ui raised very padded text container segment">
  <h2 class="ui header">Интервью директора нейрохирургического центра - Сергея Борзенкова (Google Drive)</h2>

  <!--How to host Images and JavaScript/CSS files on Google Drive-->
  <!--LINK GENERATOR from share link  http://www.hugestreet.info/p/direct-download-link-generator.html-->
  <img class="ui centered medium image" src="https://drive.google.com/uc?export=download&id=0B0CqXtLdt9icNXo3bmpVX1NFVDg">

  <button class="ui right basic button">
    <!--Линк для скачивания файлов - нужно только ID поменять
    https://drive.google.com/uc?export=download&id=0B0CqXtLdt9icOHlRdzgwd0NhMk0-->
    <a href="https://drive.google.com/uc?export=download&id=0B0CqXtLdt9icUUl2QnpyTHZCMk0" >  <i class="download icon" aria-hidden="true"></i>
      Скачать (from Google Drive)
    </a>
  </button>

  <!--Получить список файлов из расшареного каталога Google Drive-->
  <iframe src="https://drive.google.com/embeddedfolderview?id=0B0CqXtLdt9icbk90SVpUM2t6TFU#list" style="width:100%; height:600px; border:0;"></iframe>

</div>

<div class="ui raised very padded text container segment">
  <h2 class="ui header">Інтерв'ю Сергія Борзенкова виданню Старий центр 01.06.2012 (youtube)</h2>

  <div class="ui embed">
    <iframe class="videoyoutube"  src="https://www.youtube.com/embed/Ep4HHA_kYk0" frameborder="0" allowfullscreen>></iframe>
  </div>

</div>


<div class="ui raised very padded text container segment">
  <h2 class="ui header">Нейрохірургічні аспекти лікування патології шийного відділу хребта. Борзенков С.І.(rom Google Drive)</h2>

  <div class="ui embed">
    <!--Менять нужно только ИД и видео будет запускаться-->
    <iframe width="100%" height="100%" src='https://drive.google.com/file/d/0B0CqXtLdt9icU3diSHgxNmF0NU0/preview'></iframe>
  </div>

</div>

<div *ngFor="let curPressa of pressaList">
  <app-pressa-cur-object [pressaObject]="curPressa"></app-pressa-cur-object>
</div>



