

<div class="ui raised very padded text container segment">
  <h2 class="ui header">Нейрохірургічні аспекти лікування патології шийного відділу хребта. Борзенков С.І.(youtube)</h2>

  <div class="ui embed">
    <iframe class="videoyoutube"  src="https://www.youtube.com/embed/0lWLvMKCH-k" frameborder="0" allowfullscreen></iframe>
  </div>

  <!--<iframe width="420" height="345" src="https://youtu.be/0lWLvMKCH-k">-->
  <!--</iframe>-->

  <!--<iframe class="videoyoutube"  src="https://www.youtube.com/embed/0lWLvMKCH-k" frameborder="0" allowfullscreen></iframe>-->

  <!--<iframe width="420" height="345" src="www.youtube.com/watch?v=0lWLvMKCH-k">-->
  <!--</iframe>-->
  <!--<iframe class="videoyoutube"  src="https://drive.google.com/file/d/0B0CqXtLdt9icS0VLLXhKZzVwVkk/view?usp=sharing" frameborder="0" allowfullscreen></iframe>-->

  <!--<img src="https://lh4.googleusercontent.com/rnxETHWanxFlgvjE58-aiSaQYBrNbPv5RA8KFI0Zc9Q8ljXN2OhwTnhmsBtom7nNT9RysSPt=w1366-h683" alt="W3Schoolss.com" style="width:128px;height:128px;">-->

</div>

<div class="ui raised very padded text container segment">
  <h2 class="ui header">Интервью директора нейрохирургического центра - Сергея Борзенкова (Google Drive)</h2>

  <img class="ui centered medium image" src="https://lh3.googleusercontent.com/tKiHhDogaJyV590wFmf9oTiSw_pyDM9zocLe_sUaMMhqzh8_8HIki5pFOuH2Rp0NalgoF2gg=w1366-h683">

  <button class="ui right basic button">
    <a href="https://drive.google.com/uc?export=download&id=0B0CqXtLdt9icOHlRdzgwd0NhMk0" >  <i class="download icon" aria-hidden="true"></i>
      Скачать (from Google Drive)
    </a>

    <!--Линк для скачивания файлов - нужно только ID поменять
    https://drive.google.com/uc?export=download&id=0B0CqXtLdt9icOHlRdzgwd0NhMk0-->
  </button>

</div>

<div class="ui raised very padded text container segment">
  <h2 class="ui header">Інтерв'ю Сергія Борзенкова виданню Старий центр 01.06.2012 (youtube)</h2>

  <div class="ui embed">
    <iframe class="videoyoutube"  src="https://www.youtube.com/embed/Ep4HHA_kYk0" frameborder="0" allowfullscreen>></iframe>
  </div>

</div>


<div class="ui raised very padded text container segment">
  <h2 class="ui header">Нейрохірургічні аспекти лікування патології шийного відділу хребта. Борзенков С.І.(rom Google Drive)</h2>

  <div class="ui embed">
    <iframe class="videoyoutube" src="" allowfullscreen></iframe>
  </div>

</div>


<!--https://drive.google.com/open?id=0B0CqXtLdt9icNXo3bmpVX1NFVDg-->
<!--https://lh3.googleusercontent.com/tKiHhDogaJyV590wFmf9oTiSw_pyDM9zocLe_sUaMMhqzh8_8HIki5pFOuH2Rp0NalgoF2gg=w1366-h683-->

<!--https://www.youtube.com/embed/0B0CqXtLdt9icbmlfal9CNmt2QW8-->
