<div class="ui raised very padded text container segment">

    <div><p>Киевская обл., г. Бровары, ул. Шевченка,
      14</p>
      <p>тел.: (04594) 4-41-60</p>
      <p>моб. тел.: (+38066) 213-37-66</p>
      <p>e-mail: borzenkov.sergei@yandex.ua</p>
      <hr>
      <br>
      <p><strong>Схема проезда от станции метро "Лесная" - маршрут №810</strong></p>
      <iframe width="633" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="http://maps.google.com/maps/ms?msa=0&amp;msid=209537760681799677890.0004bc3f430a72ebaff2d&amp;hl=ru&amp;ie=UTF8&amp;t=m&amp;ll=50.489405,30.706787&amp;spn=0.087372,0.21698&amp;z=12&amp;output=embed"></iframe>
      <br><br><br>
      <p><strong>Схема проезда от ж/д станции Бровары - маршрут № 3, № 10</strong></p>
      <iframe width="633" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="http://maps.google.com/maps/ms?msa=0&amp;msid=209537760681799677890.0004bc759c345c657387d&amp;hl=ru&amp;ie=UTF8&amp;t=m&amp;ll=50.516483,30.78867&amp;spn=0.043661,0.10849&amp;z=13&amp;output=embed"></iframe>
      <br>
      <small>
        <hr>
        <br>

        <p><a name="bottom"></a></p></small>
    </div>

</div>
