<div class="ui raised very padded text container segment">
    <div class="field-items">
      <div class="field-item even" property="content:encoded"><p>Мы осуществляем консультации в:</p>
        <p>понедельник, пятницу с 12:00 до 15:30</p>
        <p>вторник, среду, четвер с 9:30 до 15:30</p>
        <p>&nbsp;</p>
        <p>Перед тем как ехать на консультацию лучше всего предворительно связатся с нами по телефонам:</p>
        <p>&nbsp;<span
          style="background-color: rgb(235, 227, 214); font-family: Verdana; font-size: 13px; line-height: 19px; ">(+38066) 213-37-66,</span>
        </p>
        <p><span
          style="background-color: rgb(235, 227, 214); font-family: Verdana; font-size: 13px; line-height: 19px; ">&nbsp;</span><span
          style="background-color: rgb(235, 227, 214); font-family: Verdana; font-size: 13px; line-height: 19px; ">(04594) 4-41-60</span>
        </p>
        <p>или&nbsp;<span
          style="background-color: rgb(235, 227, 214); font-family: Verdana; font-size: 13px; line-height: 19px; ">e-mail:&nbsp;</span><a
          href="mailto:borzenkov.sergei@yandex.ua"
          style="color: rgb(17, 85, 204); font-family: arial, sans-serif; font-size: 13px; background-color: rgba(255, 255, 255, 0.917969); "
          target="_blank">borzenkov.sergei@yandex.ua</a></p>
        <p>На консультацию с собой желательно взять (если были сделаны) анализы, снимки КТ ( компютерная томография),
          МРТ ( магнитно - резонансная томография), другие лабораторно - инструментальные исследования.</p>
      </div>
    </div>

</div>
