mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mat-raised-button {
  min-width: 160px;
}
