
<div class="ui raised very padded text container segment">
  <h2 class="ui header">О нас</h2>
  <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>Центр нейрохирургии открыт в 2008 году. За это время выполнено более тысячи операций на головном мозге, позвоночнике и периферической нервной системе.</p>
    <p>Стационарное лечение проходят до 600 пациентов в год. Операции производят два нейрохирурга высшей категории со стажем работы в нейрохирургии восемнадцать лет. Двадцать сотрудников центра обеспечивают круглосуточный уход и лечение пациентов центра, который рассчитан на двадцать больных. Пациенты располагаются в одно-, двух- и трехместных палатах со всеми удобствами (душем, туалетом, кондиционером, телевизором, холодильником и т.д.).</p>
    <p>Широко применяются современные методы консервативной терапии, без госпитализации пациента: лазерная терапия, акупунктура, корешковые и эпидуральные блокады. Часто этим удается избежать оперативного лечения (например, при <strong><a class="zzz" href="/pozvonochnik">грыжах позвоночных дисков</a></strong>). Если консервативное лечение не эффективно пациенту предлагается на выбор: или открытое оперативное лечение под наркозом или малоинвазивные процедуры, заменяющие операцию.</p>
    <ul><li>
      К таким относятся:</li>
      <li>
        <strong><a class="zzz" href="/operacii">Удаление грыжи межпозвонкового диска лазером</a></strong> (без разреза и не требующее общего наркоза).</li>
      <li>
        Трансперкутанная дерецепция межпозвонковых суставов (при <a class="zzz" href="/operacii"><strong>фасеточном синдроме</strong></a>: болях в поясничном отделе позвоночника без компрессии нервного корешка).</li>
      <li>
        <strong><a class="zzz" href="/operacii">Вертебропластика</a></strong> костным цементом при компрессионном переломе позвонка 1-2 степени, агрессивной гемангиоме тела позвонка, критическом остеопорозе позвоночника.</li>
      <li>
        Ризотомия при <a class="zzz" href="/perefericheskaya_ns"><strong>невралгии тройничного нерва</strong></a>.</li>
    </ul><p>&nbsp;</p>
    <p>Через два часа после выполнения этих процедур пациент может покинуть отделение или остаться под наблюдением до следующего дня. Процедура проводится амбулаторно. При желании пациента всю процедуру он может наблюдать на экране монитора, так как все они проводятся под контролем современного электронно оптического преобразователя фирмы «Siemens».</p>
    <p>В случаях требующих немедленного хирургического лечения (травматические <a class="zzz" href="/neotlozhnaya-pomoshch"><strong>внутричерепные гематомы</strong></a>, ушибы-размозжения головного мозга, вдавленные переломы костей свода черепа, инсульт гематомы, травмы позвоночника, нервов конечностей, а также грыжи межпозвонковых дисков с грубым неврологическим дефицитом) операции проводятся незамедлительно, в течение одного, двух часов под общим наркозом.</p>
    <p>&nbsp;</p>
    <ul><li>
      Под общим наркозом на современном наркозном аппарате «Lion» Австрия, под контролем внутричерепного давления аппаратом немецкой фирмы «Spiegelberg»,под увеличением оптической лупы или микроскопом производятся:</li>
      <li>
        удаление опухолей головного и спинного мозга;</li>
      <li>
        реконструктивные операции при краниодефектах черепа ( титановыми пластинами, акриловыми пластмассами и т.д.);</li>
      <li>
        установка стабилизирующих систем при травмах позвоночника;</li>
      <li>
        операции на нервах конечностей и головы.</li>
    </ul><p>&nbsp;</p>
    <p>Ежедневно в центре оказывается консультативная помощь.</p>
  </div></div></div>
</div>



