
<div class="ui raised very padded text container segment" *ngIf="this.auth.isLoggedIn() && this.auth.isItAdmin()">

  <div (click)="showNewTopic()" *ngIf="this.auth.isLoggedIn() && this.auth.isItAdmin()" class="ui button">
    <i class="sticky note outline icon"></i>
    Новый отзыв
  </div>

  <div class="ui icon message" *ngIf="newFeedbackDto">
    <i class="notched check green icon"></i>
    <i class="close icon" (click)="newFeedbackDto = null"></i>
    <div class="content">
      <div class="header">
        New Feedback added!
      </div>
    </div>
  </div>

  <div *ngIf="viewnewnopic == true" class="ui raised segment">

    <app-feedback-edit [contentObject]="this.getEmptyFeedback()"
                      [initParametres]="this.getParametresMap()"
                      (addedItem)="closeEdit()"></app-feedback-edit>

  </div>

</div>


<div *ngFor="let curFeedback of feedbackList">
  <app-feedback-view [feedbackObject]="curFeedback"></app-feedback-view>
</div>
