<div class="ui raised very padded text container segment">
  <h2 class="ui header">{{_pressaObject.headerTopic}} FFFFFF</h2>

  <!--How to host Images and JavaScript/CSS files on Google Drive-->
  <!--LINK GENERATOR from share link  http://www.hugestreet.info/p/direct-download-link-generator.html-->
  <div *ngIf="isThereMedia">

    <div *ngIf="isItImgGoogleDrive">
      <img class="ui centered medium image" [src]='sanitizer.bypassSecurityTrustResourceUrl(getUrlMediaContent())' >
    </div>

    <div *ngIf="isItVideoGoogleDrive">
      <iframe width="100%" height="320px" [src]='sanitizer.bypassSecurityTrustResourceUrl(getUrlMediaContent())'></iframe>
    </div>

    <div *ngIf="isItVideoYoutube">
      <iframe width="100%" height="320px"  class="videoyoutube"  [src]='sanitizer.bypassSecurityTrustResourceUrl(getUrlMediaContent())' frameborder="0" allowfullscreen></iframe>
    </div>

  </div>

  <div *ngIf="_pressaObject.context != ''">
    <div class="column"><p>{{_pressaObject.context}}</p></div>
  </div>

  <div *ngIf="isThereDownload">
    <button class="ui right basic button">
      <!--Линк для скачивания файлов - нужно только ID поменять
      https://drive.google.com/uc?export=download&id=0B0CqXtLdt9icOHlRdzgwd0NhMk0-->
      <a href="https://drive.google.com/uc?export=download&id={{_pressaObject.idcontent}}" >  <i class="download icon" aria-hidden="true"></i>
        Скачать (from Google Drive)
      </a>
    </button>
  </div>

  <div *ngIf="isThereFolder">
    <!--Получить список файлов из расшареного каталога Google Drive-->
    <!--'sanitizer.bypassSecurityTrustResourceUrl(myurl)'-->
    <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(getUrlMediaContent())' style="width:100%; height:600px; border:0;"></iframe>
    <!--<iframe src="https://drive.google.com/embeddedfolderview?id={{getUrlMediaContent()}}#list" style="width:100%; height:600px; border:0;"></iframe>-->
  </div>

</div>
