
<mat-toolbar color="primary">
  <span>Application Title</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-spacer"></span>

  <!--<mat-toolbar-row>-->
  <button mat-button> About <mat-icon svgIcon="thumbs-up"></mat-icon></button>
  <button mat-button> Sevices</button>
  <button mat-button> Contact</button>
  <!--</mat-toolbar-row>-->

</mat-toolbar>



<button mat-button> My bbb <i class="material-icons">face</i> </button>

<mat-form-field class="example-full-width">
  <input matInput [matDatepicker]="picker" (dateInput)="addEvent('input', $event)" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi="true" #picker></mat-datepicker>
</mat-form-field>


<mat-checkbox
  #showDetails
  [value] = ""
  [checked] = "isChecked"
  (change) = "onChange($event)">
  Show detailss
</mat-checkbox>

<div *ngIf="showDetails.checked">Some details...</div>


