<div class="ui raised very padded text container segment">
  <!--<h2 class="ui header">Борзенков Сергей Иванович - -->
  <!--врач нейрохирург высшей категории (Google Drive)</h2>-->

  <!--<img class="ui centered medium image" src="https://lh5.googleusercontent.com/oCVkfruX7XBkM3znPVUiTVQ39cuk2lexTPhAbsrWafGfrPd91y4EY5ioNwFJL2RVW-gRqVhj=w1366-h683">-->

  <img class="ui top aligned medium image" src="https://lh5.googleusercontent.com/oCVkfruX7XBkM3znPVUiTVQ39cuk2lexTPhAbsrWafGfrPd91y4EY5ioNwFJL2RVW-gRqVhj=w1366-h683">
  <h3>Борзенков Сергей Иванович -врач нейрохирург высшей категории</h3>
  <div class="ui divider"></div>

</div>

<div class="ui raised very padded text container segment">
  <img class="ui top aligned medium image" src="https://lh5.googleusercontent.com/ZH4fMThQ6PyUiD2reLInexobQoCzlSAKqJadu1z-kdWasClqfM4Prt-JQGK33nOdeyWz8cxm=w1366-h299">
  <h3>Борзенков Сергей Иванович -врач нейрохирург высшей категории</h3>
  <div class="ui divider"></div>

</div>

<div class="ui raised very padded text container segment">

  <img class="ui centered Large image" src="https://lh3.googleusercontent.com/93fO3R_wr-iV1ba1KQUsC_DOzeLk8Qw4azvrCdH-ELyF7EHZUl90mHR6RpANLh9aPMjVdMwQ=w1366-h683">
  <div class="ui divider"></div>

</div>
