<div class="ui raised very padded text container segment">
  <!--<h2 class="ui header">Борзенков Сергей Иванович - -->
  <!--врач нейрохирург высшей категории (Google Drive)</h2>-->

  <!--<img class="ui centered medium image" src="https://lh5.googleusercontent.com/oCVkfruX7XBkM3znPVUiTVQ39cuk2lexTPhAbsrWafGfrPd91y4EY5ioNwFJL2RVW-gRqVhj=w1366-h683">-->

  <img class="ui top aligned medium image" src="https://lh3.googleusercontent.com/u/0/d/0B0CqXtLdt9icNXo3bmpVX1NFVDg=s1600-k-iv1">
  <h3>Борзенков Сергей Иванович -врач нейрохирург высшей категории</h3>
  <div class="ui divider"></div>

</div>

<div class="ui raised very padded text container segment">
  <img class="ui top aligned medium image" src="https://lh3.googleusercontent.com/u/0/d/0B0CqXtLdt9icUzUxWjBSeW1RYWs">
  <h3> Ганич Евгений Николаевич - врач нейрохирург</h3>
  <div class="ui divider"></div>

</div>

<div class="ui raised very padded text container segment">

  <img class="ui centered Large image" src="https://lh3.googleusercontent.com/u/0/d/0B0CqXtLdt9icaVVWU09xQmkwQ0E=s1600-k-iv1">
  <div class="ui divider"></div>

</div>
