<div>
  <h2 class="ui header">Новая публикация</h2>
  <form [formGroup]="contentForm"
        class="ui form"
        [class.error]="!contentForm.valid && contentForm.touched"
        (ngSubmit)="onSubmit(contentForm.value)">
    <div class="field" [class.error]="!contentForm.get('headerTopic').valid && contentForm.get('headerTopic').touched">
      <label for="headerTopic">Заголовок</label>
      <input type="text"
             id="headerTopic"
             placeholder="Заголовок"
             name="заголовок"
             [formControl]="contentForm.get('headerTopic')">
    </div>
    <div class="field" [class.error]="!contentForm.get('context').valid && contentForm.get('context').touched">
      <label for="context">Описание</label>
      <textarea type="text"
             id="context"
             rows="4"
             placeholder="Описание"
             name="описание"
                [formControl]="contentForm.get('context')">
      </textarea>
    </div>

    <div class="field"
         [class.error]="!contentForm.controls ['typecontent'].valid && contentForm.controls ['typecontent'].touched">
      <div class="ui sub header">Тип контента</div>
      <select name="typecontent" class="ui fluid search dropdown" [formControl]="contentForm.controls ['typecontent']"
              >
        <option value=""></option>
        <option value="videoFromYouTube">{{mapKindsOfMedia.get('videoFromYouTube')}}</option>
        <option value="videoFromGoogleDrive">{{mapKindsOfMedia.get('videoFromGoogleDrive')}}</option>
        <option value="imageFromGoogleDrive">{{mapKindsOfMedia.get('imageFromGoogleDrive')}}</option>
        <option value="fileFromGoogleDrive">{{mapKindsOfMedia.get('fileFromGoogleDrive')}}</option>
        <option value="folderFromGoogleDrive">{{mapKindsOfMedia.get('folderFromGoogleDrive')}}</option>
        <option value="htmlContent">{{mapKindsOfMedia.get('htmlContent')}}</option>
      </select>
    </div>

    <div class="field" [class.error]="!contentForm.get('mediaContent').valid && contentForm.get('mediaContent').touched">
      <label for="mediaContent">ID</label>
      <input type="text"
             id="mediaContent"
             placeholder="ID фото/видео/файла из Google Drive"
             name="idmedia"
             [formControl]="contentForm.get('mediaContent')">
      <!--<textarea ></textarea>-->

    </div>

    <div *ngIf="!contentForm.valid"
         class="ui error message">Заполните все поля
    </div>

    <button type="submit" class="ui button" [routerLink]="[getRoutePath()]">Опубликовать</button>
    <button class="ui right floated button" (click)="closeEdit()">
      Отмена
    </button>
  </form>
</div>


