
<div class="ui raised very padded text container segment">

  <div (click)="showNewTopic()" *ngIf="this.auth.isLoggedIn() && this.auth.isItAdmin()" class="ui button">
    <i class="sticky note outline icon"></i>
    Новая публикация
  </div>

  <div class="ui icon message" *ngIf="newTeamClinic">
    <i class="notched check green icon"></i>
    <i class="close icon" (click)="newPressaAboutUs = null"></i>
    <div class="content">
      <div class="header">
        New content added!
      </div>
      <p>Тема: {{newTeamClinic.headerTopic}}</p>
    </div>
  </div>


  <div *ngIf="viewnewnopic == true" class="ui raised segment">

    <app-content-edit [contentObject]="this.getEmptyTeamClinic()"
                      [initParametres]="this.getParametresMap()"
                      (addedItem)="closeEdit()"></app-content-edit>

  </div>

</div>


<div *ngFor="let curTeam of teamList">
  <app-team-clinic-view [teamObject]="curTeam"></app-team-clinic-view>
</div>
